@media (max-width: 768px) {
  #logo-container {
    width: 50px;
  }

  #hamburger-container {
    display: block;
  }

  #menu-list {
    position: absolute;
    top: 61px;
    right: -100%;
    flex-direction: column;
    background: #2e2e2e;
    width: 200px;
    text-align: center;
    padding: 15px 0;
    border-radius: 0 0 10px 10px;
    transition: all 0.8s ease;
  }

  #menu-list.active {
    right: 0;
  }

  #menu-list .list {
    margin: 15px 0;
  }

  /* Animate the hamburger icon (menu → close) */
  #hamburger-container.active .bi-list::before {
    content: "\f62a";
    /* Bootstrap 'x' icon */
  }

  /* Homepage */
  #hero-banner {
    margin-top: 61px;
    ;
  }

  #hero-banner {
    flex-direction: column;
    gap: 15px;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 0px;
  }

  #hero-heading h1 {
    font-size: 35px;
    margin-top: 10px;
  }

  #hero-heading p {
    font-size: 14px;
  }

  #flyer-container {
    margin-bottom: 15px;
    height: 450px;
  }
}

@media (max-width: 1100px) {
  #hero-banner {
    flex-direction: column;
    gap: 15px;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 0px;
  }

  #hero-heading h1 {
    margin-top: 10px;
  }

  #flyer-container {
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
  }
}